.ProfileUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 649px;
    box-shadow:0px 0px 12px #ccc;
    border-radius: 8px;
    padding:1px 16px 4px 16px;
    
}

.Picture{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.Personal{
    padding:10PX 0PX 0PX 0PX;
    
    display: flex;
}

.Personalinfo{
    padding: 5PX 10PX;
    font-size: 20px;
    display:flex;
    color:white;
    text-shadow:0px 0px 12px #ccc;

}

.buttonLogout{
    padding: 10PX 50px;
}

.Logout{
    padding: 10PX 0px;
}


.Personalmanu{
    margin: 0PX 20px 15px 20PX;
}

.inputAccount{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 10PX;
    height: 40px;
}

.inputName{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 30PX;
    height: 40px;
}

.inputHeight{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 22PX;
    height: 40px;
}

.inputWeight{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 20PX;
    height: 40px;
}

.inputAge{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 50PX;
    height: 40px;
}

.inputAddress{
    padding:5PX 20PX;
    border-radius: 10px;
    background-color:rgba(155, 155, 143, 0.205) ;
    border : 1px solid rgba(3, 1, 1, 0.0);
    margin: 10PX 10PX 0PX 15PX;
    height: 40px;
}