*{
  padding: 0;
  margin: 0;
}


.Profile{
  display: flex;
  border-radius: 30px;
}

.Register{
  display: flex;
  padding: 20px 20px;
}

.Activity{
  display: flex;
  align-items: flex-end;
  
}

.App{
  background-color: rgb(28, 30, 33);
}



header{
  display: flex;
  justify-content: center;
}